# Database
DATABASE_URL=postgresql://chanchito:chanchito_password@localhost:5432/chanchito?schema=public

# Backend
JWT_SECRET=super_secret_jwt_key
PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost

# Frontend
VITE_API_URL=http://localhost:3000/api/v1
